<div class="usps">
    <div class="usp">
        <?php if ($block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-one')->toHtml()): ?>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-one')->toHtml(); ?>
        <?php else: ?>
            <p>Please create and add content to USP Block One, (identifier usp-one).</p>
        <?php endif; ?>
    </div>

    <div class="usp">
        <?php if ($block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-two')->toHtml()): ?>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-two')->toHtml(); ?>
        <?php else: ?>
            <p>Please create and add content to <strong>USP Block Two</strong>, (identifier usp-two).</p>
        <?php endif; ?>
    </div>

    <div class="usp">
        <?php if ($block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-three')->toHtml()): ?>
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('usp-three')->toHtml(); ?>
        <?php else: ?>
            <p>Please create and add content to <strong>USP Block Three</strong>, (identifier usp-three).</p>
        <?php endif; ?>
    </div>
</div>