/* Usp Container */
.usps {
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Usp Item */
.usps > .usp:nth-child(2),
.usps > .usp:nth-child(3) {
    display: none;
}

.usps .usp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 30px 20px;
}

/* Usp Paragraph */
.usps .usp p {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    /* Usp Container */
    .usps {
        display: flex;
        justify-content: space-between;
    }

    /* Usp Item */
    .usps .usp {
        position: relative;
        flex-direction: row;
    }

    .usps > .usp:nth-child(2),
    .usps > .usp:nth-child(3) {
        display: flex;
    }

    .usps > .usp:nth-child(2):before,
    .usps > .usp:nth-child(2):after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 25%;
        width: 1px;
        height: 50%;
        background: #6e716e;
    }

    .usps > .usp:nth-child(2):after {
        left: auto;
        right: 0;
    }

    /* Image Container */
    .usps > .usp p:not(:nth-last-of-type(1)) {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
}